<h1>Products</h1>
<%= link_to "Create Product", new_product_path, class: "btn btn-primary pull-right" %>
<% if !@products.empty? %>
	<table class="table table-bordered">
		<tr>
		 	<th>Product</th>
		 	<th>Price</th>
		 	<th>Edit</th>
		 	<th>Delete</th>
		</tr>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.name %></td>
				<td><%= product.price %></td>
				<td><%= link_to "edit", edit_product_path(product.id) %></td>
				<td><%= link_to "delete", product_path(product.id), :method => "delete" %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<h4>No products found</h4>
<% end %>